* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery-container {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
  }
  
  h1 {
    margin: 0;
    color: #472036;
    line-height: 2.5;
  }
  
  .image-container {
    width: 500px;
    height: 500px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumbnail-container {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .thumbnail-item {
    margin: 0.5rem;
    width: 100px;
    height: 100px;
  }
  
  .thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: border-color 0.25s ease;
  }
  
  .thumbnail-image:hover {
    border-color: #ff0080;
  }